@import "../utils/constants";
// @import "../utils/mixins";

footer {
    padding: 40px;
    display: flex;
    gap: 12.8vw !important;
    background-color: #3B3B3B;
    div {
        display: block;
        margin: 0;
        width: fit-content;
        color: #CCCCCC;
        .column_heading {
            @extend .logo     
        }
        .footer_weekly_digest {
            @extend .weekly_digest;
            p {
                font-size: 16px;
            }
        }

        h2 {
            margin: 0;
        }
        p {
            font-size: 16px;
        }

        .social_medias {
            display: flex;
        }
        a {
            color: #CCCCCC;
        }
    }
}

@media (width < 834px) {
    footer {
        display: block;
        div {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
}