
<footer>
        <div class="column1">
            <a href="./index.html">
<div class="column_heading img-wrapper index"><img src="./img/header/Logo.svg" alt="Логотип компанії"></div>
            </a>
            
            <p>NFT marketplace UI created with Anima for Figma.</p>
            <p>Join our community</p>
            <div class="social_medias">
                <div class="img-wrapper social_media_icon"><img src="./img/footer/DiscordLogo.png" alt="Discord"></div>
                <div class="img-wrapper social_media_icon"><img src="./img/footer/YoutubeLogo.png" alt="Youtube"></div>
                <div class="img-wrapper social_media_icon"><img src="./img/footer/InstagramLogo.png" alt="Instagram"></div>
                <div class="img-wrapper social_media_icon"><img src="./img/footer/TwitterLogo.png" alt="Twitter"></div>
            </div>
        </div>
        <div class="column2">
            <h2 class="column_heading">
                Explore
            </h2>
            <a href="./marketplace.html" class="
            marketplace
            ">
                <p>Marketplace</p>
            </a>
        </div>
        <div class="column3">
            <div class="text-wrapper footer_weekly_digest">
                <h2>Join our weekly digest</h2>
                <p>Get exclusive promotions & updates straight to your inbox.</p>
  
                <div class="email_and_btn">
                  <div class="email_input">
                      <input type="email" placeholder="Enter your email here"/>
                    </div>
                    <a>
                        <img src="./img/create_account/EnvelopeSimple.png" alt="">
                        <span>
                            Subscribe
                        </span>
                    </a>
                </div>
                
              </div>
        </div>
    </footer>