
<header>
    <a href="./index.html">
<div class="logo index">
          <img src="./img/header/Logo.svg" alt="логотип" />
        </div>
</a>
        
        <ul>
            <li class="burger_menu">
                <span class="line"></span> 
                <span class="line"></span>
                <span class="line"></span>
              </li>
          <li><a rel="preload" href="./marketplace.html" class="marketplace">Marketplace</a></li>
          <li>
            
            {{#if status}} 
            <a id="logout_btn_js"class="logout_button">
              <img src="./img/header/User.svg" alt="Користувач" />
              <span>Logout</span>
            </a>
            {{else}}
            <a id="login_btn_js" href="./create_account.html" class="login_button">
              <img src="./img/header/User.svg" alt="Користувач" />
              <span>Login</span>
            </a>
            {{/if}}
           
          </li>
          
        </ul>
</header>

