

<div class="content-wrapper">
 <div class="img-wrapper">
  <img loading="lazy" src="{{image_url}}" alt="Зображення космосу" />
</div>
<div class="author">
  <h2>{{collection}}</h2>

  <div class="author_block">
    <img loading="lazy" src="{{profile_image_url}}" alt="аватар автора" />
    <p>{{name}}</p>
  </div>
</div>
</div>