<div class="card">
  <div class="main_img">
    <img src="{{image_url}}" alt="собака" />
  </div>
  <div class="secondary_imgs secondary_imgs_cont">
    
  </div>
  <div class="author">
    <h2>{{collection}}</h2>

    <div class="author_block">
      <img loading="lazy" src="{{profile_image_url}}" alt="аватар автора" />
      <p>{{name}}</p>
    </div>
  </div>
</div>