@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "./components/header";
@import "./components/footer";
// @import "./utils/mixins";

body {
  background-color: rgba(43, 43, 43, 1);
  margin: 0;
  box-sizing: border-box;

  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  overflow-x: hidden;
  color: white;

}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
main {
  width: 100vw;
  display: block;
  margin: 0 auto;
}
.db {
  display: block !important;
}

h1 {
  font-size: clamp(28px, 5.234vw , 67px) !important;

}
p {
  font-size: clamp(16px, 1.719vw , 22px);
}

h2 {
  // font-size: clamp(28px, 2.969vw, 38px) !important;

}
p {
  
}