@mixin _text($color: white, $weight: normal) {
    color: $color;
    font-weight: $weight;
  

}
@mixin _media_font_size($size) {
    @media (width > 834px) {
        font-size: #{calc($size / 1280 * 100)}vw;
    }
    @media (width < 834px) {
        font-size: #{calc($size / 1280 * 100 * 1.3)}vw;
    }
    @media (width < 375px) {
        font-size: #{calc($size / 1280 * 100 * 3.2)}vw;
    }
}

@mixin h1($size, $color: white, $weight:600) {
    @include _media_font_size($size);
    @include _text($color, $weight);
    margin-top: 0;
}
@mixin h2($size, $color: white, $weight:600) {
    @include _media_font_size(calc($size * 1.5));
    @include _text($color, $weight);

}
@mixin p($size, $color: white, $weight:400) {
    @include _media_font_size(calc($size * 1));
    @include _text($color, $weight);
}
